.app-header-segment{
    padding: 0.5em !important;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup {
    cursor: pointer;
}

.header-text {
    display: inline-flex;
    height: 3.5em;
    vertical-align: bottom;
    align-items: center;
}

.app-name {
    border-left: 1px solid #d4d4d4;
    padding-left: 0.5em;
    margin-left: 0.5em;
}

.user-area-style {
    display: inline-flex;
    align-items: center;
}

.site-logo {
    height: 3.5em;
}
