.footer-container {
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 2em;
}
.footer-wrapper{
    display: flex;
    align-items: center;
}
.footer-container-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 0.5em;
}
.footer-logo {
    margin: 0 0.5em;
    height: 16px;
}
