.app-header {
    flex-grow: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

.app-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.app-footer {
    flex-grow: 0;
}