.avatar-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999em; /* Infinity */
}

.avatar-image::after{
    content: "";
    padding-bottom: 100%;
}

.avatar-image-text{
    font-size: 1.5em; /* Default in case props is not passed */
    font-family: monospace;
    color: white;
    padding: 0em 0.5em;
    display: inline-block;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
