.wrapper{
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.error-header{
    display: flex;
    justify-content: space-between;
}

.error-body{
    display: flex;
}

.dart-container{
    display: flex;
    flex-grow: 1;
}
.dart-text-container{
}

.person-container{
    display: flex;
    align-items: flex-end;
}

.board-container{
    display: flex;
    align-items: flex-end;
}

.person{
    width: auto;
    margin-top: 100px;
    height: 360px;
    content: url('/static/errors/person_stressed.svg');
    animation: sweat 0.75s ease-in;
}

.dartboard{
    height: 80px;
}

.dart{
    position: relative;
    height: 50px;
    left: calc(100% - 120px);
    animation: throw-dart 0.25s ease;
    transform: rotate(-35deg) scale(0.65);
}

@keyframes throw-dart {
    from {
        transform: translateX(-20vw) rotate(-35deg) translateY(5.3vw) scale(1);
    }
    to {
        transform: translateX(0) rotate(-35deg) scale(0.65);
      }
  }
  
  @keyframes sweat {
    from {
        content: url('/static/errors/person.svg');
    }
    to {
        content: url('/static/errors/person_stressed.svg')
    }
  }
