.user-card-wrapper{
    display: flex;
    align-items: center;
}
.user-card-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.user-card-desc{
    flex-grow: 1;
}
.user-image-container{
    margin-right: 1em;
}
.user-image-container img{
    width: 2.5em !important;
    height: 2.5em !important;
    border-radius: 9999em !important; /* Infinity */
}